body{
	background-image: url("../images/swirl_pattern.png");
	text-align: center;

}

.title{
	background-color: white;
	font-family: 'Emilys Candy', cursive;
	font-weight: bold;
	font-size: 60px;
	margin-top: 20px;
	border-radius: 5px;
}

.instruction{
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Spectral SC', serif;
	font-size: 24px;
	padding: 10px;
	border-radius: 5px;
}

.scores{
	background-color: white;
	margin-bottom: 40px;
	font-family: 'Spectral SC', serif;
	border-radius: 5px;
}

.crystal{
	margin-top: 40px;
	border-radius: 5px;
}
img{
	height: 200px;
	width: 200px;
}